<style>
   #MSOZoneCell_WebPartWPQ4 {
      display: none;
   }

   #saveLoaderImage {
      display: none;
   }

   div#incidentManagementCtrl .ms-formlabel {
      color: #ccc !important;
   }

   #s4-bodyContainer {
      background-color: rgba(72, 70, 68, 0.8) !important;
   }
</style>

<!-- Add your CSS styles to the following file -->
<link rel="Stylesheet" type="text/css"
   href="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/CSS/stylesheet.css" />
<link rel="Stylesheet" type="text/css"
   href="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/CSS/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
   href="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/CSS/jquery-ui.css" />

<!-- Add your JavaScript to the following file -->
<!-- <script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/peoplepicker.js?v=1"></script> -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/jquery-1.10.2.js"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/jquery-ui.min.js"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/App.js"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/angular.min.js"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/angular-route.js"></script>

<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/bootstrap.min.js"></script>

<!-- Config -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/config/constants.js?v=45"></script>

<!-- Customer Complaint Forms -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/customerComplaint/customerComplaintForm.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/customerComplaint/customerComplaintService.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/customerComplaint/customerComplaintMapper.js?v=41"></script>

<!-- Non Conforming Product Forms -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/nonConformingProduct/nonConformingProductForm.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/nonConformingProduct/nonConformingProductService.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/nonConformingProduct/nonConformingProductMapper.js?v=41"></script>

<!-- Form Helpers -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/shared/services/formInitializationService.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/forms/shared/services/formProcessingService.js?v=41"></script>

<!-- Helpers -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/helpers/context.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/helpers/formUtils.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/helpers/queryBuilder.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/helpers/peoplePickerHelper.js?v=41"></script>

<!-- Services -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/services/email/emailService.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/services/sharepoint/listOperations.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/services/sharepoint/fileOperations.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/services/sharepoint/responseHandlerService.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/services/sharepoint/utils.js?v=41"></script>

<!-- <script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/Add-in.js?v=89"></script> -->
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/tinymce/tinymce.min.js"></script>


<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/modules/app.module.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/controllers/main.controller.js?v=41"></script>

<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/directives/formatted-date-input.directive.js?v=41"></script>

<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/directives/tinymce.directive.js?v=41"></script>

<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/components/incidentCommonFieldsSection/incident-common-fields-section.component.js?v=41"></script>

<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/components/incidentFormActions/incident-form-actions.component.js?v=41"></script>

<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/components/incidentDescription/incident-description.component.js?v=41"></script>
<script type="text/javascript"
   src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/js/new/components/peoplePicker/people-picker.component.js?v=41"></script>
<!-- <script type="text/javascript" src="https://dynaq.sharepoint.com/TeamSite/im/SiteAssets/IncidentManagement/scripts/AppAngular.js?v=41"></script> -->

<script>
   $(document).ready(function () {
      $('.ms-cui-group:first').css("display", "none");
      $('.ms-cui-group').eq(-2).css("display", "none");
   });
</script>

<div ng-app="incidentManagementApp" ng-controller="MainController">
   <ng-form name="incidentManagementForm">

      <div id="incidentManagementCtrl">
         <br />
         <p id="message">
            <!-- The following content will be replaced with the user name when you run the app - see App.js -->
            initializing...
         </p>
         <span ng-repeat="form in forms" id="SelectButtonsSpan">
            <input type="button" title="form.id" ng-value="form.label" ng-click="selectForm(form)"
               ng-class="{'buttonselected': form.selected, 'buttonNotSelected': !form.selected}" />
            &nbsp;&nbsp;
         </span>
         <br />
         <br />
         <div id="ViewTitle" ng-show="showCommonFieldsSection">
            <incident-common-fields-section incident-title="formModel.Title" selected-business-area="formModel.AreaId"
               selected-problem-department-area="formModel.DepartmentAreaofProblemId" business-areas="BusinessAreas"
               problem-department-areas="ProblemDepartmentAreas" form="incidentManagementForm">
            </incident-common-fields-section>
         </div>
         <div id="mainBody" ng-include="selectedForm.viewUrl" onload="selectForm(selectedForm); item = custLocation"
            ng-if="true">
         </div>
         <hr />
         <incident-description ng-if="selectedForm" form-model="formModel" has-this-happened-before-options="HasThisHappenedBeforeList"
            form-id="selectedForm.id"></incident-description>
         <incident-form-actions ng-if="selectedForm" form-id="selectedForm.id" form-model="formModel" save-fn="SaveForm"
            form-valid="true">
         </incident-form-actions>
      </div>
   </ng-form>
</div>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">

<head>
   <!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">ZP7AJ2WSTT3R-904016256-26</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">ec58ed11-3512-47cf-ba41-34cecfa4e9dc</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://dynaq.sharepoint.com/TeamSite/im/_layouts/15/DocIdRedir.aspx?ID=ZP7AJ2WSTT3R-904016256-26, ZP7AJ2WSTT3R-904016256-26</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>