<div ng-controller="NonConformingProductController" ng-init="initializeForm(selectedItemId)">
   <div id="ViewTitle">
      <incident-common-fields-section incident-title="formModel.Title" selected-business-area="formModel.AreaId"
         selected-problem-department-area="formModel.DepartmentAreaofProblemId" business-areas="BusinessAreas"
         problem-department-areas="ProblemDepartmentAreas" form="incidentManagementForm" display-mode="{{displayMode}}"
         form-model="formModel">
      </incident-common-fields-section>
   </div>
   <div id="EditNonConformingProduct">
      <table cellspacing="0" width="100%" class="table-striped">
         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Product Category<span class="ms-formvalidation"> *</span></nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <span>
                  <!-- TODO: Check ProductCategoryId vs ComplaintCategory -->
                  <smart-select model="formModel.ProductCategoryId" options="ComplaintProductCategories" value-prop="id"
                     label-prop="value" name="selProductCategory" required="true"
                     on-change="updateComplaintProductName(formModel.ProductCategoryId)"></smart-select>
                  <span class="ms-error"
                     ng-show="incidentManagementForm.selProductCategory.$touched && incidentManagementForm.selProductCategory.$invalid">Complaint
                     Product Category is required.</span>
               </span>
            </td>
         </tr>
         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Product Name<span class="ms-formvalidation"> *</span></nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <span>
                  <select id="selComplaintProductName" ng-model="formModel.ProductNameId"
                     ng-options="item.id as item.value for item in ComplaintProductNames | filter:{parentId: formModel.ProductCategoryId}"
                     name="selComplaintProductName" required>
                  </select>
                  <span class="ms-error"
                     ng-show="incidentManagementForm.selComplaintProductName.$touched && incidentManagementForm.selComplaintProductName.$invalid">Complaint
                     Product Name is required.</span>
               </span>
            </td>
         </tr>
         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>
                     Sample Origin<span class="ms-formvalidation"> *</span>
                  </nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <input type="text" maxlength="255" title="ProductSupplier" name="ProductSupplier"
                  ng-model="formModel.ProductSupplier" class="ms-long ms-spellcheck-true" required>
               <span class="ms-error"
                  ng-show="incidentManagementForm.ProductSupplier.$touched && incidentManagementForm.ProductSupplier.$invalid">Sample Origin is
                  required.</span> <br />
               <span class="ms-metadata">From where does the sample originate.</span>
            </td>
         </tr>
         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Quantity</nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <input type="number" id="unitQuantity" name="unitQuantity" ng-model="formModel.UnitQuantity">
            </td>
         </tr>

         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Unit Type</nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <smart-select model="formModel.UnitTypeId" options="UnitTypeList" value-prop="id" label-prop="value"
                  name="selUnitType"></smart-select>
            </td>
         </tr>

         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Production Date</nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <input type="text" id="productionDateDatepicker" name="productionDateDatepicker" formatted-date-input
                  ng-model="formModel.ProductionDate">
            </td>
         </tr>

         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Best Before Date</nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <input type="text" id="bestBeforeDatepicker" name="bestBeforeDatepicker" formatted-date-input
                  ng-model="formModel.BestBeforeDate">
            </td>
         </tr>

         <tr>
            <td width="30%" valign="top" class="ms-formlabel">
               <H3 class="ms-standardheader">
                  <nobr>Batch Number Filed</nobr>
               </H3>
            </td>
            <td width="70%" valign="top" class="ms-formbody">
               <input type="text" maxlength="255" class="ms-long ms-spellcheck-true"
                  ng-model="formModel.BatchNumberFiled" name="batchNumberFiled" required />
               <span class="ms-error"
                  ng-show="incidentManagementForm.batchNumberFiled.$touched && incidentManagementForm.batchNumberFiled.$invalid">Batch
                  Number Filed is required.</span>
            </td>
         </tr>
      </table>
   </div>
   <hr />
   <incident-description ng-if="selectedForm" form-model="formModel" display-mode="{{displayMode}}"
      has-this-happened-before-options="HasThisHappenedBeforeList" form-id="selectedForm.id"
      business-areas="BusinessAreas" problem-department-areas="ProblemDepartmentAreas"></incident-description>
   <incident-form-actions ng-if="selectedForm" form-id="selectedForm.id" form-model="formModel"
      complex-types-model="complexTypesModel" save-fn="saveForm" form-valid="true">
   </incident-form-actions>
</div><html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">ZP7AJ2WSTT3R-904016256-916</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">ae5d6bfa-dc81-4d36-8d4e-52631139f77a</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://dynaq.sharepoint.com/TeamSite/im/_layouts/15/DocIdRedir.aspx?ID=ZP7AJ2WSTT3R-904016256-916, ZP7AJ2WSTT3R-904016256-916</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>