<fieldset id="Managerform" class="container">
   <div class="panel panel-default">
      <div class="panel-heading">
         <label>FINANCIAL REVIEW AND CLOSE-OUT</label>
      </div>
      <div class="panel-body">
         <table class="table-striped" width="100%">
            <tr>
               <td width="30%" valign="top" class="ms-formlabel">
                  <label>Final Financial Approval Comments</label>
               </td>
               <td width="70%" valign="top" class="ms-formbody" ng-if="$ctrl.editable">
                  <textarea name="FinalFinanceApprovalCommentsTextArea" class="FinalFinanceApprovalCommentsTextArea" tinymce-editor
                     ng-model="$ctrl.formModel.FinalFinanceApprovalComments" ></textarea>
                     <br />
                  <file-list-section id="finalFinanceFiles" request-id="finalFinanceFiles" mode="edit"></file-list-section>
                     <!-- <input id="getFinalFinanceApprovalComments" type="file" /><br />
                     <input name="addFileButton" type="button" value="Upload"
                        onclick="uploadImageOrFile('FinalFinanceApprovalCommentsTextArea', 'getFinalFinanceApprovalComments')" /> -->
               </td>
               <td width="70%" valign="top" class="ms-formbody" ng-if="!$ctrl.editable">
                  <textarea name="FinalFinanceApprovalCommentsTextArea" class="FinalFinanceApprovalCommentsTextArea" tinymce-editor
                     ng-model="$ctrl.formModel.FinalFinanceApprovalComments" disabled></textarea>
                  <file-list-section id="finalFinanceFiles" request-id="finalFinanceFiles" mode="view"></file-list-section>
               </td>
            </tr>
            <tr ng-if="!$ctrl.editable">
               <td width="30%" valign="top" class="ms-formlabel">
                  <label>Final Financial Approval Manager </label>
               </td>
               <td width="70%" valign="top" class="ms-formbody">
                  <label>{{$ctrl.formModel.FinalFinanceApprovalManager.Title}}</label>
               </td>
            </tr>
            <tr ng-if="!$ctrl.editable && $ctrl.dateActionedText">
               <td width="30%" valign="top" class="ms-formlabel">
                  <label>Date: </label>
               </td>
               <td width="70%" valign="top" class="ms-formbody">
                  <label>{{ $ctrl.dateActionedText }}</label>
               </td>
            </tr>
         </table>
         <workflow-action-selector ng-if="$ctrl.editable" action-label="Final Financial Approval" assignee-label="Assigned to"
            assignee-people-picker-prefix="final-finance" actions="$ctrl.nextStepOptions"
            selected-action="$ctrl.selectedAction" assignee-id="$ctrl.formModel.AssignedToId"
            assignee="$ctrl.complexTypesModel.AssignedTo" required="true"
            on-change="$ctrl.onNextActionChange(action, assignee)" disabled="!$ctrl.editable"
            on-save-stage-form="$ctrl.saveStageForm(continueToNextStage)" is-last-step="true">
         </workflow-action-selector>
      </div>
   </div>
</fieldset><html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">ZP7AJ2WSTT3R-904016256-903</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">0583bb15-b545-4fe3-b8b3-7d3ef20ba9ea</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://dynaq.sharepoint.com/TeamSite/im/_layouts/15/DocIdRedir.aspx?ID=ZP7AJ2WSTT3R-904016256-903, ZP7AJ2WSTT3R-904016256-903</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>