<div>
   <br />
   <table cellspacing="0" width="100%" class="table-striped">
      <tr ng-if="$ctrl.formId === 'Complaint'">
         <td width="30%" valign="top" class="ms-formlabel">
            <h3 class="ms-standardheader">
               <nobr>Next Action Required<span class="ms-formvalidation"> *</span></nobr>
            </h3>
         </td>
         <td width="70%" valign="top" class="ms-formbody">
            <select title="nextActionDropdown" ng-model="$ctrl.selectedNextAction">
               <option value="submitForInvestigation">Submit For Investigation</option>
               <option value="saveAndContinueLater">Save & Continue Later</option>
               <option value="existingAR">Existing AR - Save & Complete</option>
            </select>
         </td>
      </tr>
      <tr ng-if="$ctrl.formId === 'Complaint' && $ctrl.selectedNextAction === 'existingAR'">
         <td width="30%" valign="top" class="ms-formlabel">
            <h3 class="ms-standardheader">
               <nobr>Existing AR Reference<span class="ms-formvalidation"> *</span></nobr>
            </h3>
         </td>
         <td width="70%" valign="top" class="ms-formbody">
            <input type="text" maxlength="255" class="ms-long ms-spellcheck-true" title="Existing AR Reference"
               ng-model="$ctrl.formModel.ExistingARReference" id="existingARReference" name="existingARReference" required />
         </td>
      </tr>
      <tr
         ng-show="$ctrl.formId != 'Complaint' || ($ctrl.formId == 'Complaint' && $ctrl.selectedNextAction == 'submitForInvestigation')">
         <td width="30%" valign="top" class="ms-formlabel">
            <h3 class="ms-standardheader">
               <nobr>Investigator<span class="ms-formvalidation">
                     *</span></nobr>
            </h3>
         </td>
         <td width="70%" valign="top" class="ms-formbody">
            <people-picker picker-id="investigator-peoplePickerDivTest" model="$ctrl.incidentManagementForm.Investigator"
               sp-user-ids="$ctrl.formModel.AssignedToId"  selected-users="$ctrl.complexTypesModel.AssignedTo" required="true">
            </people-picker>
         </td>
      </tr>
   </table>
   <span ng-if="$ctrl.getActionConfig()">
      <!-- TODO: ng-value="getActionConfig().label" -->
      <input type="button" value="Save"
         ng-disabled="!$ctrl.formValid && $ctrl.getActionConfig().showError"
         ng-click="$ctrl.saveFn($ctrl.formId, $ctrl.getActionConfig().clickArgs[0], $ctrl.getActionConfig().clickArgs[1])" />
      <input type="button" value="{{$ctrl.buttonConfig['continue'].label}}" ng-if="$ctrl.formId !== 'Complaint'"
         ng-disabled="!$ctrl.formValid && $ctrl.buttonConfig['continue'].showError"
         ng-click="$ctrl.saveFn($ctrl.formId, true, false)" />
      <span class="ms-error" ng-if="!$ctrl.formValid && $ctrl.getActionConfig().showError">
         {{ getActionConfig().errorMessage || 'Complete all required fields' }}
      </span>
   </span>
   <input type="button" value="Cancel" ng-click="$ctrl.cancelAndBack()" />
   <div id="dvMessage">
      <span id="formMessage"></span>
      <div id="saveLoaderImage">
         Submitting information.... &nbsp;&nbsp;&nbsp; <img title="loader"
            src="../../../_layouts/images/gears_anv4.gif" />
      </div>
   </div>
</div><html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:_dlc_DocId msdt:dt="string">ZP7AJ2WSTT3R-904016256-851</mso:_dlc_DocId>
<mso:_dlc_DocIdItemGuid msdt:dt="string">6221215e-69e8-47c4-b746-b2de195b3c3c</mso:_dlc_DocIdItemGuid>
<mso:_dlc_DocIdUrl msdt:dt="string">https://dynaq.sharepoint.com/TeamSite/im/_layouts/15/DocIdRedir.aspx?ID=ZP7AJ2WSTT3R-904016256-851, ZP7AJ2WSTT3R-904016256-851</mso:_dlc_DocIdUrl>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>